<%= render 'shared/page_title', title: 'Parámetro',
                                small_title: "ID ##{@parametro.id}",
                                navigation: [{ title: 'Parámetros', url: '/parametros', icon: 'fa-cogs' },
                                             { title: 'Ver', url: '#', icon: 'fa-circle-o' }] %>
 <section class="content">

  <div class="box box-primary">
    <div class="box-header with-border">
      <div class="row">
        <div class="col-xs-12 col-md-11">
        </div>
        <div class="col-xs-12 col-md-1">
          <%= link_to 'Regresar', parametros_path, class: 'btn btn-default btn-block' %>
        </div>
      </div>
    </div>

    <div class="box-body">
      <div class="row">
        <div class="col-xs-2">
          <strong>Código:</strong>
        </div>
        <div class="col-xs-10">
          <%= @parametro.codigo %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <strong>Nombre:</strong>
        </div>
        <div class="col-xs-10">
          <%= @parametro.nombre %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <strong>Valor:</strong>
        </div>
        <div class="col-xs-10">
          <%= @parametro.valor %>
        </div>
      </div>

    </div>
  </div>

</section>
