<div id="nota-<%= @nota.id %>" class="direct-chat-msg">
  <div class="direct-chat-info clearfix">
    <span class="direct-chat-name pull-left"><%= @nota.usuario.nombre_completo %></span>
    <span class="direct-chat-timestamp pull-right"><%= @nota.fecha %></span>
  </div>
  <%= gravatar_image_tag(@nota.usuario.email, { alt: @nota.usuario.email, class: 'direct-chat-img' }) %>
  <div class="direct-chat-text">
    <div class="row">
      <div class="col-xs-11">
        <%= @nota.notas %>
      </div>
      <div class="col-xs-1">
        <% if can? :destroy, @nota %>
         <button class="btn btn-danger" onclick="fn_eliminar(<%= @nota.id %>);">
          <i class="fa fa-trash" style="color: #ffffff"></i>
        </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
