<section class="content-header">
  <h1>
    <span class="text-<%= case @matrimonio.estado_civil
                               when 0
                                'danger'
                               when 1
                                'warning'
                               when 2
                                'primary'
                                end %>">
    <%= @matrimonio.situacion %></span>
    <small>ID #<%=@matrimonio.id%></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li><a href="/matrimonios"><i class="fa fa-circle-o"></i> Matriminios</a></li>
    <li class="active">Ver</li>
  </ol>
</section>

<section class="content">

  <!-- Datos personales -->
  <div class="box box-primary">

    <div class="box-header with-border">
      <h3 class="box-title">
        <span class="text-<%= case @matrimonio.estado_civil
                               when 0
                                'danger'
                               when 1
                                'warning'
                               when 2
                                'primary'
                                end %>"><%= @matrimonio.situacion %></span>
        <%= @matrimonio.nombre %>
      </h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
      </div>
    </div>

    <div class="box-body">
        <div class="row">
          <div class="col-xs-12 col-md-10"></div>
          <div class="col-xs-6 col-md-1">
            <%= link_to 'Regresar', matrimonios_path , class: "btn btn-default btn-block"%>
          </div>
          <div class="col-xs-6 col-md-1">
            <% if can? :update, @matrimonio %>
            <%= link_to 'Editar', edit_matrimonio_path(@matrimonio), class: "btn btn-primary btn-block" %>
            <% end -%>
          </div>
      </div>
      <br>
      <div id="datos_personales">



<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-xs-6 col-md-2">
              <div class="form-group">
              <%= label_tag 'matrimonio_boda_civil', 'Boda Civil', class: 'col-sm-10 control-label' %>
              <div class="col-sm-2">
                <%= check_box_tag 'matrimonio[boda_civil]',1 ,@matrimonio.boda_civil %>
              </div>
            </div>
            </div>
            <div class="col-xs-6 col-md-2">
              <div class="form-group">
              <%= label_tag 'matrimonio_boda_eclesiastica', 'Boda Eclesiástica', class: 'col-sm-10 control-label' %>
              <div class="col-sm-2">
                <%= check_box_tag 'matrimonio[boda_eclesiastica]',1 ,@matrimonio.boda_eclesiastica %>
              </div>
            </div>
            </div>
            <div class="col-xs-12 col-md-2">

            </div>
            <div class="col-xs-12 col-md-6">
               <div class="form-group">
                <%= label_tag 'matrimonio_observacion', 'Observación', class: 'col-sm-2 control-label' %>
                <div class="col-sm-10">
                  <%= text_field_tag 'matrimonio[observacion]', @matrimonio.observacion, class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6">

    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Él</h3>
      </div>
      <div class="box-body">
        <%= render 'personas/show', persona: @matrimonio.esposo %>
      </div>
    </div>

  </div>
  <div class="col-xs-12 col-md-6">

    <div class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title">Ella</h3>
      </div>
      <div class="box-body">
        <%= render 'personas/show', persona: @matrimonio.esposa %>
      </div>
    </div>
  </div>
</div>




      </div>
    </div>
  </div>
  <!-- /Datos personales -->

  <!-- Actividades -->
  <div class="box box-primary">

  <div class="box-header with-border">
    <h3 class="box-title">Actividades a las que ha asistido</h3>
    <div class="box-tools pull-right">
      <span data-toggle="tooltip" title="3 New Messages" class="badge bg-blue"><%= @actividades.length %></span>
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
    </div>
  </div>

    <div class="box-body">

<ul class="timeline">
  <% @actividades.each do |actividad| %>
    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-blue">
          <%= actividad.fecha %>
        </span>
    </li>
    <!-- /.timeline-label -->

    <!-- timeline item -->
    <li>
        <!-- timeline icon -->
        <i class="fa fa-calendar bg-blue"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i></span>
            <h3 class="timeline-header">
              <span class="text-success"><%= I18n.t("enum.actividad.tipo.#{actividad.tipo}") %></span>
              <%= actividad.nombre %>
              <span class="badge bg-blue"><%= actividad.cantidad_integrantes %></span>
            </h3>

            <div class="timeline-body">
              <%= actividad.objetivo %>
            </div>

        </div>
    </li>
  <% end %>

</ul>

    </div>
  </div>
  <!-- /Actividades -->
</section>
