<section class="content-header">
  <h1>Dashboard</h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
  </ol>
</section>

<section class="content">

<div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-<%= if @porcentaje < 50
                                            'red'
                                       elsif @porcentaje >= 50 and @porcentaje < 80
                                        'yellow'
                                       elsif @porcentaje >= 80
                                        'green'
                                end %>">
            <div class="inner">
              <h3><%= @porcentaje %>%</h3>
              <p>Porcentaje de cumplimiento</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3><%= @personas_asignadas %></h3>
              <p>Personas Asignadas</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3><%= @personas_con_seguimiento %></h3>
              <p>Personas con seguimiento</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3><%= @personas_sin_seguimiento %></h3>
              <p>Pendientes (<%= @dias_atras_seguimiento.valor %> días hacia atrás)</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>

<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="input-group input-group-xs" >
                <input id="txt-buscar" class="form-control pull-right" placeholder="Buscar..." type="text">
                <div class="input-group-btn">
                  <button id="btn-buscar" class="btn btn-default">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="box-body">
        <div id="registros"></div>
      </div>
    </div>
  </div>
</div>
</section>
<script>
  function buscar(buscar){
    $.get('/home/lista', { buscar: buscar },
      function(data){
        $('#registros').empty();
        $('#registros').append(data);
      }
    );
  }

  $("#btn-buscar").click(function(){
    buscar($('#txt-buscar').val());
  });

  $("#txt-buscar").keypress(function(e) {
    var keycode = (e.keyCode ? e.keyCode : e.which);
    if (keycode == '13') {
        buscar($('#txt-buscar').val());
    }
  });

  buscar('');

</script>
