<% @personas.each_with_index do |p, index| %>

<div id="fila-<%= p.id %>" class="row row-coustom <%= 'bg-danger' unless p.con_nota_seguimiento_dentro_del_periodo(current_usuario) %>" >

  <div class="col-xs-1 col-md-1">
    <strong>
      <%= index + 1 %>
    </strong>
  </div>

  <div class="col-xs-11 col-md-8">
      <a href="/personas/<%= p.id %>">
        <%= p.nombre_completo %> <%= '|' unless p.telefono.blank? %> <%= p.telefono %></li>
      </a>
  </div>

  <div class="col-xs-12 col-md-1">
    <span data-toggle="tooltip" data-placement="bottom" title="Notas de seguimiento" ><%= p.notas_seguimiento.count %></span>
      |
    <span data-toggle="tooltip" data-placement="bottom" title="Fecha última nota" ><%= p.notas_seguimiento.last.try(:fecha) %></span>
  </div>
  <div class="col-xs-6 col-md-1">
    <% unless p.telefono.blank? %>
    <a href="tel:<%= p.telefono %>" class="btn btn-sm btn-success btn-block">Llamar</a>
    <% end %>
  </div>

  <div class="col-xs-6 col-md-1">
    <% if p.seguimiento %>
    <a class="btn btn-sm btn-primary btn-block" href="<%= new_persona_persona_nota_seguimiento_path(p.id) %>">
      <i class="fa fa-plus"></i>
      Seguimiento
    </a>
    <% end %>
  </div>

</div>
<% end %>
