
    <div class="row">
      <div class="col-xs-3">
        <strong>Nombres:</strong>
      </div>
      <div class="col-xs-9">
        <%= persona.primer_nombre %> <%= persona.segundo_nombre %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3">
        <strong>Apellidos:</strong>
      </div>
      <div class="col-xs-9">
        <%= persona.primer_apellido %> <%= persona.segundo_apellido %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3">
        <strong>Sexo:</strong>
      </div>
      <div class="col-xs-9">
        <%= persona.sexo %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3">
        <strong>Fecha nacimiento:</strong>
      </div>
      <div class="col-xs-9">
        <%= persona.fecha_nacimiento %>
      </div>
    </div>
