<%= render 'shared/page_title', title: 'Persona',
                                small_title: 'Nueva',
                                navigation: [{ title: 'Personas', url: '/personas', icon: 'fa-user' },
                                             { title: 'Nueva', url: '#', icon: 'fa-circle-o' }] %>
<section class="content">
  <div class="box box-primary">
  <%= form_with(model: @persona, local: true, class: 'form-horizontal') do |form| %>
    <div class="box-header with-border">
      <div class="row">
        <div class="col-xs-12 col-md-9">
        </div>
        <div class="col-xs-4 col-md-1">
        </div>
        <div class="col-xs-4 col-md-1">
          <%= submit_tag 'Guardar', class: "btn btn-primary btn-block" %>
        </div>
        <div class="col-xs-4 col-md-1">
          <%= link_to 'Regresar', personas_path, class: 'btn btn-default btn-block' %>
        </div>
      </div>
    </div>
    <div class="box-body">
    <%= render 'form', persona: @persona, form: form %>
    </div>
  <% end %>
  </div>
</section>
