<%= render 'shared/page_title', title: 'Persona',
                                small_title: "ID ##{@persona.id}",
                                navigation: [{ title: 'Personas', url: '/personas', icon: 'fa-user' },
                                             { title: 'Ver', url: '#', icon: 'fa-circle-o' }] %>
<section class="content">
  <div class="box box-primary">

    <div class="box-header with-border">
      <div class="row">
        <div class="col-xs-12 col-md-9">
          <h3 class="box-title">
            <%= @persona.nombre_completo %>
          </h3>
        </div>
        <div class="col-xs-4 col-md-1">
          <%= link_to 'Nuevo', new_persona_path, { class: 'btn btn-primary btn-block'} %>
        </div>
        <div class="col-xs-4 col-md-1">
          <%= link_to 'Editar',edit_persona_path(@persona), class: "btn btn-primary btn-block" %>
        </div>
        <div class="col-xs-4 col-md-1">
          <%= link_to 'Regresar', personas_path, class: 'btn btn-default btn-block' %>
        </div>
      </div>
    </div>

    <div class="box-body">
      <%= render 'show', persona: @persona %>
    </div>
  </div>
</section>
