<p id="notice"><%= notice %></p>

<p>
  <strong>Primer nombre:</strong>
  <%= @persona.primer_nombre %>
</p>

<p>
  <strong>Segundo nombre:</strong>
  <%= @persona.segundo_nombre %>
</p>

<p>
  <strong>Primer apellido:</strong>
  <%= @persona.primer_apellido %>
</p>

<p>
  <strong>Segundo apellido:</strong>
  <%= @persona.segundo_apellido %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @persona.sexo %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @persona.fecha_nacimiento %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @persona.direccion %>
</p>

<p>
  <strong>Bautizado:</strong>
  <%= @persona.bautizado %>
</p>

<p>
  <strong>Epp:</strong>
  <%= @persona.epp %>
</p>

<p>
  <strong>Edl:</strong>
  <%= @persona.edl %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @persona.observacion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @persona.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @persona.celular %>
</p>

<p>
  <strong>Email:</strong>
  <%= @persona.email %>
</p>

<p>
  <strong>Seguimiento:</strong>
  <%= @persona.seguimiento %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
