<%= render 'shared/page_title', title: 'Usuario',
                                small_title: "ID ##{@usuario.id}",
                                navigation: [{ title: 'Usuarios', url: '/usuarios', icon: 'fa-book' },
                                             { title: 'Editar', url: '#', icon: 'fa-circle-o' }] %>
<section class="content">

  <div class="box box-primary">

    <div class="box-body">
        <div class="row">
          <div class="col-xs-12 col-md-11"></div>
          <div class="col-xs-12 col-md-1">
            <%= link_to 'Regresar', usuarios_path , class: "btn btn-default btn-block"%>
          </div>
      </div>


<div class="row">
<div class="col-md-6 col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Datos Personales</h3>
      </div>
      <div class="box-body">
        <%= render 'form', usuario: @usuario %>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Cambiar clave</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

          <%= form_tag("/usuarios/actualizar_clave", method: "post") do %>
            <%= hidden_field_tag 'usuario_id', @usuario.id %>

          <div class="form-group">
            <%= label_tag(:current_password, "Clave Actual") %>
            <%= password_field_tag(:current_password, nil, { class: 'form-control', placeholder: 'Clave Actual' }) %>
          </div>

          <div class="form-group">
            <%= label_tag(:password, "Nueva Clave") %>
            <%= password_field_tag(:password, nil, { class: 'form-control', placeholder: 'Nueva Clave' }) %>
          </div>

          <div class="form-group">
            <%= label_tag(:password_confirmation, "Confirmar Clave") %>
            <%= password_field_tag(:password_confirmation, nil, { class: 'form-control', placeholder: 'Confirmar Clave' }) %>
          </div>

            <%= submit_tag("Guardar", {class: 'btn btn-primary'}) %>
          <% end %>
        </div>
        <!-- /.box-body -->
      </div>

    <!-- Main content -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Roles y permisos</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

        </div>
        <!-- /.box-body -->
      </div>
  </div>
</div>

  <!-- Asignaciones -->
  <div class="box box-primary">
    <div class="box-header">
      <div class="row">
        <div class="col-xs-12 col-md-10">
          <div class="input-group input-group-xs" >
            <input id="txt-buscar" name="buscar" class="form-control pull-right" placeholder="Buscar..." type="text">
            <div class="input-group-btn">
              <button id="btn-buscar" class="btn btn-default">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-2">
          <span id="cantidad_personas", class="badge bg-blue"></span>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div id="registros"></div>
    </div>
  </div>
  <!-- /Asignaciones -->

    </div>
  </div>

</section>
<script type="text/javascript">

  $(document).ready(function() {
    buscar_persona();
  });

  function buscar_persona(buscar){
    $.get('/usuarios/asignaciones_seguimiento', { buscar: buscar, usuario_id: <%= @usuario.id %> },
      function(data){
        $('#cantidad_personas').html('0');
        $('#registros').empty();
        $('#registros').append(data);
      }
    );
  }

  function agregar_seguimiento(persona_id){
    $.post('/usuarios/agregar_seguimiento', { persona_id: persona_id,
                                                    usuario_id: <%= @usuario.id %> },
      function(data){
        if(data.result){
          if($('#btn_'+ persona_id).hasClass('btn-danger')){
            $('#btn_'+ persona_id).addClass('btn-primary').removeClass('btn-danger').html('Agregar');
          }else{
            $('#btn_'+ persona_id).addClass('btn-danger').removeClass('btn-primary').html('Quitar');
          }
          $('#cantidad_personas').html(data.cantidad_personas);
          mostrarMensaje('Éxito', data.mensaje, 'success');
          buscar_persona($('#txt-buscar').val());
        }else{
          mostrarMensaje('Error', data.mensaje, 'error');
        }
      }
    );
  }

  function quitar_seguimiento(persona_id){
    $.post('/usuarios/quitar_seguimiento', { persona_id: persona_id,
                                                    usuario_id: <%= @usuario.id %> },
      function(data){
        if(data.result){
          if($('#btn_'+ persona_id).hasClass('btn-danger')){
            $('#btn_'+ persona_id).addClass('btn-primary').removeClass('btn-danger').html('Agregar');
          }else{
            $('#btn_'+ persona_id).addClass('btn-danger').removeClass('btn-primary').html('Quitar');
          }
          $('#cantidad_personas').html(data.cantidad_personas);
          mostrarMensaje('Éxito', data.mensaje, 'success');
          buscar_persona($('#txt-buscar').val());
        }else{
          mostrarMensaje('Error', data.mensaje, 'error');
        }
      }
    );
  }

  $("#btn-buscar").click(function(){
    buscar_persona($('#txt-buscar').val());
  });

  $("#txt-buscar").keypress(function(e) {
    var keycode = (e.keyCode ? e.keyCode : e.which);
    if (keycode == '13') {
        buscar_persona($('#txt-buscar').val());
    }
  });

</script>
