<%= render 'shared/page_title', title: 'Usuarios',
                                small_title: 'lista',
                                navigation: [{ title: 'Usuarios', url: '/usuarios', icon: 'fa-book' }] %>
<section class="content">
  <div class="box box-primary">
    <div class="box-header">
        <div class="row">
          <div class="col-xs-12 col-md-10">
            <div class="input-group input-group-xs" >
              <input id="txt-buscar" class="form-control pull-right" placeholder="Buscar..." type="text">
              <div class="input-group-btn">
                <button id="btn-buscar" class="btn btn-default">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-2">
            <% if can? :create, Usuario %>
              <%= link_to 'Nuevo', new_usuario_path, { class: 'btn btn-primary btn-block'} %>
            <% end %>
          </div>
        </div>
    </div>
    <div class="box-body">


   <% @usuarios.each_with_index do |u, index| %>
    <div id="fila-<%= u.id %>" class="row row-coustom <%= 'row-coustom-background' if index.even? %>" >

      <div class="col-xs-12 col-md-2">
        <h4>
        <a href="/usuarios/<%= u.id %>/edit">
          <strong><%= u.email %></strong>
        </a>
        </h4>
      </div>
      <div class="col-xs-12 col-md-7">
        <h4>
        <a href="/usuarios/<%= u.id %>/edit">
          <small><%= u.nombre_completo %></small>
        </a>
        </h4>
      </div>

      <div class="col-xs-10 col-md-2">
        <h4><%= u.roles_name.join(', ') %></h4>
      </div>

      <div class="col-xs-2 col-md-1">
        <% if can? :create, u %>
        <%= button_to 'Eliminar', u, method: :delete, data: { confirm: 'Seguro de eliminar?' }, class: "btn btn-danger" %>
        <% end %>
      </div>

    </div>
    <% end %>


    </div>
  </div>
</section>
